.header {
  height: 10rem;
  background-color: #8d8daa;
  width: 100%;
  padding: 0 10%;
}
.header ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header li {
  font-size: 2rem;
  margin: 0 2rem;
  color: #f7f5f2;
}
.header a{
  text-decoration: none;
  color: #dfdfde;
}
.header a:hover,
.header a:active,
.header a.active {
  color: #dfdfde;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #dfdfde;
}
